@use '../../assets/scss/base';


.navbar__filter {
   display: flex;
   width: 90%;
   margin: 10px auto;
   justify-content: space-between;

   &--input {
      height: 100%;
      width: auto;
   }

   &--button {
      height: 20px;
      width: auto;
      cursor: pointer;
   }
}