@use '../../assets/scss/_base.scss'as *;

.beerlist {
   flex: 1;
   display: flex;
   flex-wrap: wrap;
   overflow-y: auto;

   &__card {
      margin: 40px;
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow-y: auto;
      border: 3px solid $color-main;
      border-radius: 25px;
      padding: 10px;
      background-color: transparent;

      &--name {
         color: $color-font;
         text-align: center;
      }

      &--tagline {
         color: $color-font;
         text-align: center;
      }

      &--image {
         height: 60%;
         object-fit: scale-down;
         width: auto;
      }

      &--description {
         text-align: center;
         overflow-y: auto;
         color: $color-font;
      }
   }

}

@media (min-width: 992px) {
   .beerlist {
      display: grid;
      grid-template-columns: 1fr 1fr;


   }
}