@use "./assets/scss/_base.scss"as *;

.app {
   margin: auto;
   height: 100vh;
   width: 80vw;

   .header {
      width: 100%;
      height: 20%;
      background-color: $color-main;

      &__logo {
         height: 100%;
         width: auto;
         margin-left: 25px;
      }
   }

   .body {
      height: 80%;
      display: flex;

      .navbar {
         width: 15%;
         min-width: 120px;
         height: 100%;
      }

      .beerlist {
         height: 100%;
         width: 85%;
      }
   }
}